In [2]:
import pandas as pd
import sqlite3

# 데이터베이스 파일 경로
db_file = './result/btc_data_m1_20170901_20241204.db'

# 데이터베이스 연결
con = sqlite3.connect(db_file)

# SQL 쿼리 실행 및 데이터프레임으로 불러오기
query = "SELECT * FROM ticker_data"
df = pd.read_sql_query(query, con)

# 데이터베이스 연결 종료
con.close()

# 데이터프레임 출력
df.head()  # 데이터프레임의 첫 5행 출력

,type,code,opening_price,high_price,low_price,trade_price,trade_volume,trade_date,trade_time,trade_timestamp
0,ticker,KRW-BTC,4201000.0,4220000.0,4195000.0,4216000.0,3.811221,2017-09-25,12:00,1506340800
1,ticker,KRW-BTC,4213000.0,4222000.0,4204000.0,4204000.0,3.310356,2017-09-25,12:01,1506340860
2,ticker,KRW-BTC,4201000.0,4224000.0,4198000.0,4224000.0,1.396844,2017-09-25,12:02,1506340920
3,ticker,KRW-BTC,4225000.0,4228000.0,4214000.0,4217000.0,1.430321,2017-09-25,12:05,1506341100
4,ticker,KRW-BTC,4231000.0,4241000.0,4208000.0,4232000.0,3.970542,2017-09-25,12:06,1506341160

In [3]:
df

,type,code,opening_price,high_price,low_price,trade_price,trade_volume,trade_date,trade_time,trade_timestamp
0,ticker,KRW-BTC,4201000.0,4220000.0,4195000.0,4216000.0,3.811221,2017-09-25,12:00,1506340800
1,ticker,KRW-BTC,4213000.0,4222000.0,4204000.0,4204000.0,3.310356,2017-09-25,12:01,1506340860
2,ticker,KRW-BTC,4201000.0,4224000.0,4198000.0,4224000.0,1.396844,2017-09-25,12:02,1506340920
3,ticker,KRW-BTC,4225000.0,4228000.0,4214000.0,4217000.0,1.430321,2017-09-25,12:05,1506341100
4,ticker,KRW-BTC,4231000.0,4241000.0,4208000.0,4232000.0,3.970542,2017-09-25,12:06,1506341160
...,...,...,...,...,...,...,...,...,...,...
4195017,ticker,KRW-BTC,134999000.0,135098000.0,134933000.0,135038000.0,6.012059,2024-12-04,23:55,1733356500
4195018,ticker,KRW-BTC,135098000.0,135098000.0,134870000.0,134900000.0,3.489162,2024-12-04,23:56,1733356560
4195019,ticker,KRW-BTC,134870000.0,134872000.0,134815000.0,134832000.0,6.379391,2024-12-04,23:57,1733356620
4195020,ticker,KRW-BTC,134822000.0,134867000.0,134803000.0,134803000.0,1.130761,2024-12-04,23:58,1733356680
4195021,ticker,KRW-BTC,134803000.0,134817000.0,134707000.0,134707000.0,7.009465,2024-12-04,23:59,1733356740

In [4]:
df = df.drop_duplicates(keep='first')
df

,type,code,opening_price,high_price,low_price,trade_price,trade_volume,trade_date,trade_time,trade_timestamp
0,ticker,KRW-BTC,4201000.0,4220000.0,4195000.0,4216000.0,3.811221,2017-09-25,12:00,1506340800
1,ticker,KRW-BTC,4213000.0,4222000.0,4204000.0,4204000.0,3.310356,2017-09-25,12:01,1506340860
2,ticker,KRW-BTC,4201000.0,4224000.0,4198000.0,4224000.0,1.396844,2017-09-25,12:02,1506340920
3,ticker,KRW-BTC,4225000.0,4228000.0,4214000.0,4217000.0,1.430321,2017-09-25,12:05,1506341100
4,ticker,KRW-BTC,4231000.0,4241000.0,4208000.0,4232000.0,3.970542,2017-09-25,12:06,1506341160
...,...,...,...,...,...,...,...,...,...,...
4195017,ticker,KRW-BTC,134999000.0,135098000.0,134933000.0,135038000.0,6.012059,2024-12-04,23:55,1733356500
4195018,ticker,KRW-BTC,135098000.0,135098000.0,134870000.0,134900000.0,3.489162,2024-12-04,23:56,1733356560
4195019,ticker,KRW-BTC,134870000.0,134872000.0,134815000.0,134832000.0,6.379391,2024-12-04,23:57,1733356620
4195020,ticker,KRW-BTC,134822000.0,134867000.0,134803000.0,134803000.0,1.130761,2024-12-04,23:58,1733356680
4195021,ticker,KRW-BTC,134803000.0,134817000.0,134707000.0,134707000.0,7.009465,2024-12-04,23:59,1733356740

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3743625 entries, 0 to 4195021
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   type             object
 1   code             object
 2   opening_price    float64
 3   high_price       float64
 4   low_price        float64
 5   trade_price      float64
 6   trade_volume     float64
 7   trade_date       object
 8   trade_time       object
 9   trade_timestamp  int64
dtypes: float64(5), int64(1), object(4)
memory usage: 314.2+ MB

In [6]:
# trade_date와 trade_time을 결합하여 새로운 datetime 컬럼 생성
df['datetime'] = pd.to_datetime(df['trade_date'] + ' ' + df['trade_time'])

# 결과 출력
df.head()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_14092\2044120202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datetime'] = pd.to_datetime(df['trade_date'] + ' ' + df['trade_time'])

,type,code,opening_price,high_price,low_price,trade_price,trade_volume,trade_date,trade_time,trade_timestamp,datetime
0,ticker,KRW-BTC,4201000.0,4220000.0,4195000.0,4216000.0,3.811221,2017-09-25,12:00,1506340800,2017-09-25 12:00:00
1,ticker,KRW-BTC,4213000.0,4222000.0,4204000.0,4204000.0,3.310356,2017-09-25,12:01,1506340860,2017-09-25 12:01:00
2,ticker,KRW-BTC,4201000.0,4224000.0,4198000.0,4224000.0,1.396844,2017-09-25,12:02,1506340920,2017-09-25 12:02:00
3,ticker,KRW-BTC,4225000.0,4228000.0,4214000.0,4217000.0,1.430321,2017-09-25,12:05,1506341100,2017-09-25 12:05:00
4,ticker,KRW-BTC,4231000.0,4241000.0,4208000.0,4232000.0,3.970542,2017-09-25,12:06,1506341160,2017-09-25 12:06:00

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3743625 entries, 0 to 4195021
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   type             object
 1   code             object
 2   opening_price    float64
 3   high_price       float64
 4   low_price        float64
 5   trade_price      float64
 6   trade_volume     float64
 7   trade_date       object
 8   trade_time       object
 9   trade_timestamp  int64
 10  datetime         datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 342.7+ MB

In [8]:
df_sorted = df.sort_values(by='datetime')
df_sorted

,type,code,opening_price,high_price,low_price,trade_price,trade_volume,trade_date,trade_time,trade_timestamp,datetime
0,ticker,KRW-BTC,4201000.0,4220000.0,4195000.0,4216000.0,3.811221,2017-09-25,12:00,1506340800,2017-09-25 12:00:00
1,ticker,KRW-BTC,4213000.0,4222000.0,4204000.0,4204000.0,3.310356,2017-09-25,12:01,1506340860,2017-09-25 12:01:00
2,ticker,KRW-BTC,4201000.0,4224000.0,4198000.0,4224000.0,1.396844,2017-09-25,12:02,1506340920,2017-09-25 12:02:00
3,ticker,KRW-BTC,4225000.0,4228000.0,4214000.0,4217000.0,1.430321,2017-09-25,12:05,1506341100,2017-09-25 12:05:00
4,ticker,KRW-BTC,4231000.0,4241000.0,4208000.0,4232000.0,3.970542,2017-09-25,12:06,1506341160,2017-09-25 12:06:00
...,...,...,...,...,...,...,...,...,...,...,...
4195017,ticker,KRW-BTC,134999000.0,135098000.0,134933000.0,135038000.0,6.012059,2024-12-04,23:55,1733356500,2024-12-04 23:55:00
4195018,ticker,KRW-BTC,135098000.0,135098000.0,134870000.0,134900000.0,3.489162,2024-12-04,23:56,1733356560,2024-12-04 23:56:00
4195019,ticker,KRW-BTC,134870000.0,134872000.0,134815000.0,134832000.0,6.379391,2024-12-04,23:57,1733356620,2024-12-04 23:57:00
4195020,ticker,KRW-BTC,134822000.0,134867000.0,134803000.0,134803000.0,1.130761,2024-12-04,23:58,1733356680,2024-12-04 23:58:00
4195021,ticker,KRW-BTC,134803000.0,134817000.0,134707000.0,134707000.0,7.009465,2024-12-04,23:59,1733356740,2024-12-04 23:59:00

In [8]:
import sqlite3

# SQLite 데이터베이스 파일 경로
db_file = "btc_data_m15_sorted.db"

# 데이터베이스 연결
con = sqlite3.connect(db_file)

# 데이터프레임을 SQLite 데이터베이스에 저장
df_sorted.to_sql(name='ticker_data', con=con, if_exists='replace', index=False)

# 연결 종료
con.close()

print("데이터프레임이 SQLite 데이터베이스에 저장되었습니다.")

데이터프레임이 SQLite 데이터베이스에 저장되었습니다.

In [9]:
df = df_sorted
df

,type,code,opening_price,high_price,low_price,trade_price,trade_volume,trade_date,trade_time,trade_timestamp,datetime
0,ticker,KRW-BTC,4201000.0,4220000.0,4195000.0,4216000.0,3.811221,2017-09-25,12:00,1506340800,2017-09-25 12:00:00
1,ticker,KRW-BTC,4213000.0,4222000.0,4204000.0,4204000.0,3.310356,2017-09-25,12:01,1506340860,2017-09-25 12:01:00
2,ticker,KRW-BTC,4201000.0,4224000.0,4198000.0,4224000.0,1.396844,2017-09-25,12:02,1506340920,2017-09-25 12:02:00
3,ticker,KRW-BTC,4225000.0,4228000.0,4214000.0,4217000.0,1.430321,2017-09-25,12:05,1506341100,2017-09-25 12:05:00
4,ticker,KRW-BTC,4231000.0,4241000.0,4208000.0,4232000.0,3.970542,2017-09-25,12:06,1506341160,2017-09-25 12:06:00
...,...,...,...,...,...,...,...,...,...,...,...
4195017,ticker,KRW-BTC,134999000.0,135098000.0,134933000.0,135038000.0,6.012059,2024-12-04,23:55,1733356500,2024-12-04 23:55:00
4195018,ticker,KRW-BTC,135098000.0,135098000.0,134870000.0,134900000.0,3.489162,2024-12-04,23:56,1733356560,2024-12-04 23:56:00
4195019,ticker,KRW-BTC,134870000.0,134872000.0,134815000.0,134832000.0,6.379391,2024-12-04,23:57,1733356620,2024-12-04 23:57:00
4195020,ticker,KRW-BTC,134822000.0,134867000.0,134803000.0,134803000.0,1.130761,2024-12-04,23:58,1733356680,2024-12-04 23:58:00
4195021,ticker,KRW-BTC,134803000.0,134817000.0,134707000.0,134707000.0,7.009465,2024-12-04,23:59,1733356740,2024-12-04 23:59:00

In [10]:
def get_dynamic_multiplier(hour):
    # 시간대별 최적 multiplier 설정
    if hour == 9:  # 오전 9시
        return 0.3
    elif hour in [21, 22, 23, 0]:  # 저녁 9시-자정
        return 0.5
    elif hour in [2, 3, 4]:  # 새벽 2-4시
        return 0.7
    elif hour in [10, 11]:  # 오전 10-11시
        return 0.4
    elif hour in [13, 14, 15, 16]:  # 오후 1-4시
        return 0.7
    elif hour in [17, 18, 19]:  # 오후 5-7시
        return 0.6
    else:  # 나머지 시간대
        return 0.5

In [17]:
df['volatility'] = df['high_price'] - df['low_price']
df['hour'] = df['datetime'].dt.hour
df['minute'] = df['datetime'].dt.minute

# 다음 봉의 상승률 계산
df['next_return'] = df['trade_price'].shift(-1) / df['trade_price'] - 1

# 시간대별 동적 multiplier 적용
df['multiplier'] = df['hour'].map(get_dynamic_multiplier)

# 변동성 돌파 성공률 계산 (동적 multiplier 적용)
df['target'] = df['opening_price'] + (df['high_price'].shift(1) - df['low_price'].shift(1)) * df['multiplier']
df['success'] = (df['high_price'] > df['target']).astype(int)

In [18]:
df.rename(columns={'trade_price':'closing_price'}, inplace=True)
new_column_order = [
    'datetime', 'type', 'code', 'opening_price', 'closing_price', 'high_price', 'low_price', 'trade_volume', 'volatility', 'next_return', 'target', 'success', 'multiplier', 'trade_date', 'trade_time', 'hour', 'minute', 'trade_timestamp', 
]
df = df[new_column_order] 
df.reset_index(drop=True, inplace=True)

In [19]:
import sqlite3

# SQLite 데이터베이스 파일 경로
db_file = "btc_data_m1_preprocessing_ex_add.db"

# 데이터베이스 연결
con = sqlite3.connect(db_file)

# 데이터프레임을 SQLite 데이터베이스에 저장
df.to_sql(name='ticker_data', con=con, if_exists='replace', index=False)

# 연결 종료
con.close()

print("데이터프레임이 SQLite 데이터베이스에 저장되었습니다.")

데이터프레임이 SQLite 데이터베이스에 저장되었습니다.

In [23]:
# 시간대별 통계
stats = df.groupby(['hour', 'minute']).agg({
    'volatility': 'mean',
    'success': 'mean',
    'next_return': 'mean',
    'target': 'count',
    'multiplier': 'first'  # 해당 시간대의 multiplier 값도 표시
}).round(4)
stats

             volatility  success  next_return  target  multiplier
hour minute
0    0       47351.0720   0.4969      -0.0000    2612         0.5
     1       46227.7607   0.3995       0.0000    2608         0.5
     2       45558.2375   0.4130      -0.0000    2610         0.5
     3       43393.5558   0.4024      -0.0000    2607         0.5
     4       42087.1067   0.4045      -0.0000    2606         0.5
...                 ...      ...          ...     ...         ...
23   55      40346.9778   0.4116       0.0000    2614         0.5
     56      39480.2758   0.4182      -0.0000    2611         0.5
     57      39152.0154   0.4081      -0.0000    2605         0.5
     58      37993.1087   0.4020       0.0000    2612         0.5
     59      38160.9812   0.4258       0.0001    2609         0.5

[1440 rows x 5 columns]

In [21]:
df['success'].value_counts()

success
0    2291515
1    1452110
Name: count, dtype: int64

In [20]:
stats.to_csv('시간대별통계1minute.csv', index=True)

In [22]:
df = df[df['trade_date'] != '2017-09-25']
df

,datetime,type,code,opening_price,closing_price,high_price,low_price,trade_volume,volatility,next_return,target,success,multiplier,trade_date,trade_time,hour,minute,trade_timestamp
267,2017-09-26 00:00:00,ticker,KRW-BTC,4297000.0,4297000.0,4297000.0,4297000.0,0.002908,0.0,0.000465,4297000.0,0,0.5,2017-09-26,00:00,0,0,1506384000
268,2017-09-26 00:01:00,ticker,KRW-BTC,4299000.0,4299000.0,4299000.0,4299000.0,0.000047,0.0,-0.000930,4299000.0,0,0.5,2017-09-26,00:01,0,1,1506384060
269,2017-09-26 00:02:00,ticker,KRW-BTC,4295000.0,4295000.0,4295000.0,4295000.0,0.002851,0.0,-0.002095,4295000.0,0,0.5,2017-09-26,00:02,0,2,1506384120
270,2017-09-26 00:03:00,ticker,KRW-BTC,4286000.0,4286000.0,4286000.0,4286000.0,0.003506,0.0,0.001167,4286000.0,0,0.5,2017-09-26,00:03,0,3,1506384180
271,2017-09-26 00:04:00,ticker,KRW-BTC,4291000.0,4291000.0,4291000.0,4291000.0,0.001845,0.0,-0.000699,4291000.0,0,0.5,2017-09-26,00:04,0,4,1506384240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3743620,2024-12-04 23:55:00,ticker,KRW-BTC,134999000.0,135038000.0,135098000.0,134933000.0,6.012059,165000.0,-0.001022,135088000.0,1,0.5,2024-12-04,23:55,23,55,1733356500
3743621,2024-12-04 23:56:00,ticker,KRW-BTC,135098000.0,134900000.0,135098000.0,134870000.0,3.489162,228000.0,-0.000504,135180500.0,0,0.5,2024-12-04,23:56,23,56,1733356560
3743622,2024-12-04 23:57:00,ticker,KRW-BTC,134870000.0,134832000.0,134872000.0,134815000.0,6.379391,57000.0,-0.000215,134984000.0,0,0.5,2024-12-04,23:57,23,57,1733356620
3743623,2024-12-04 23:58:00,ticker,KRW-BTC,134822000.0,134803000.0,134867000.0,134803000.0,1.130761,64000.0,-0.000712,134850500.0,1,0.5,2024-12-04,23:58,23,58,1733356680
3743624,2024-12-04 23:59:00,ticker,KRW-BTC,134803000.0,134707000.0,134817000.0,134707000.0,7.009465,110000.0,NaN,134835000.0,0,0.5,2024-12-04,23:59,23,59,1733356740

In [22]:
# 시간대별 통계
stats = df.groupby(['hour', 'minute']).agg({
    'volatility': 'mean',
    'success': 'mean',
    'next_return': 'mean',
    'target': 'count'
}).round(4)
stats

             volatility  success  next_return  target
hour minute
0    0       47351.0720   0.4969      -0.0000    2612
     1       46227.7607   0.3995       0.0000    2608
     2       45558.2375   0.4130      -0.0000    2610
     3       43393.5558   0.4024      -0.0000    2607
     4       42087.1067   0.4045      -0.0000    2606
...                 ...      ...          ...     ...
23   55      40346.9778   0.4116       0.0000    2614
     56      39480.2758   0.4182      -0.0000    2611
     57      39152.0154   0.4081      -0.0000    2605
     58      37993.1087   0.4020       0.0000    2612
     59      38160.9812   0.4258       0.0001    2609

[1440 rows x 4 columns]

In [24]:
stats.to_csv('시간대별통계1minute_수정.csv', index=True)